/*  COLOR AND VARIABLES  */
:root {
    --gold: #d8a628;
    --lightgray: #e9e7da;
    --green: #636b46;
    --darkgreen: #373f27;
}

.gold {
    color: var(--gold);
}

.lightgray {
    color: var(--lightgray);
}

.bg-lightgray {
    background-color: var(--lightgray);
}

.green {
    color: var(--green);
}

.darkgreen {
    color: var(--dark-green);
}





/*  GENERAL  */
@font-face {
    font-family: "Now";
    src: url("../assets/fonts/Now-Regular.otf");
}

@font-face {
    font-family: "Nickainley";
    src: url("../assets/fonts/Nickainley-Normal.otf");
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Nickainley" !important;
    background-color: var(--lightgray);
}

body {
    height: 100%;
    color: var(--darkgreen);
    background: url("/assets/bg-leaf2.png")
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

h1 {
    font-weight: 800;
}

hr {
    height: 3px !important;
    opacity: 1;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}



/*  NAVBAR  */
nav ul li a {
    font-weight: 600;
    color: var(--darkgreen) !important;
}

nav a:hover {
    color: var(--gold) !important;
}

nav a:focus,
nav a:active {
    color: var(--gold) !important;
}


@media (min-width: 992px) {
    nav a.active {
        border-bottom: 2px solid var(--gold);
    }
}



/*  INDEX  */
header {
    height: 90vh;
    margin-bottom: 100px;
}

header h1 {
    font-size: 48px;
}

.text-size-responsive {
    font-size: 5vh;
}

#about {
    margin-bottom: 150px;
}

#about .about-wrapper {
    background-color: var(--lightgray);
}

#about p {
    font-size: 22px;
}

#method {
    background-color: var(--green);
    padding-bottom: 30px;
}

#method p {
    font-size: 22px;
    padding-top: 40px;
}

#call-to-action {
    padding-top: 80px;
    padding-bottom: 130px;
}

#call-to-action p {
    font-size: 33px;
}

#call-to-action i {
    font-size: 50px;
}

/* #soontm{
    background-color: var(--darkgreen);
    color: var(--lightgray);
}

#soontm p, #soontm i{
    color: var(--lightgray);
    font-size: 40px;
} */

#pilates {
    background-color: var(--darkgreen);
}

#pilates p {
    color: var(--lightgray);
}


/*  PILATES  */
#pilates-body .pilates-body-wrapper {
    background-color: var(--lightgray);
}

#pilates-body {
    padding-bottom: 50px;
}

#pilates-infos i {
    font-size: 38px;
}

#pilates-infos .info-bubles {
    background-color: var(--lightgray);
    border-radius: 5px;
    border: 2px solid var(--darkgreen);
    height: 150px;
}


/* DRAINAGE */

#drainage {
    min-height: calc(100% - 140px);
}

#drainage {
    margin-top: 100px;
}

#drainage-body ul li {
    background: url('../assets/leaf-list.png') left center no-repeat;
    list-style: none;
    padding-left: 34px;
    padding-top: 0px;
    margin-bottom: 13px;
}

#drainage-body i {
    font-size: 50px;
}

#drainage-body h2{
    font-size: 35px;
}


/*  CONTACT  */

#contact {
    min-height: calc(100% - 188px);
}

#contact h1 {
    font-size: 50px;
}

#contact #infos {
    font-size: 30px;
    font-weight: 600;
}


#contact #infos i {
    font-size: 43px;
}

#contact #infos a {
    text-decoration: none;
}

#contact .pills {
    background-color: var(--lightgray);
}

#contact .pills:hover {
    background-color: var(--darkgreen);
    transition: 0.2s;
    border: none !important;
    color: var(--lightgray) !important;
}