/*  COLOR AND VARIABLES  */
:root {
    --gold: #cda34f;
    --lightgray : #e9e7da;
    --green : #636b46;
    --darkgreen : #373f27;
}

.gold{
    color: var(--gold);
}

.lightgray{
    color: var(--lightgray);
}

.green{
    color: var(--green);
}

.darkgreen{
    color: var(--dark-green);
}





/*  GENERAL  */
html, body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    color: var(--darkgreen);
    background: var(--lightgray);
}

img{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

h1{
    font-weight: 800;
}

hr{
    height: 3px !important;
    opacity: 1;
}





/*  NAVBAR  */
nav ul li a{
    font-weight: 600;
    color: var(--darkgreen) !important;
}

nav a:hover{
    color: var(--gold) !important;
}

nav a:focus, nav a:active{
    color: var(--gold) !important;
}

nav a.active{
    border-bottom: 2px solid var(--gold);
}




/*  INDEX  */
header{
    height: 90vh;
    margin-bottom: 100px;
} 

#about p{
    font-size: 22px;
}

#method{
    background-color: var(--green);
    padding-bottom: 30px;
}

#method p{
    font-size: 22px;
    padding-top: 40px;
}

#call-to-action p, #call-to-action i{
    font-size: 30px;
}